{% if content %}
<section {{ attributes.addClass(['hotlock-service-items']) }}>	
	{% if content.description %}
    	{% for item in content.description|array_elements(region_attributes.description.addClass('description')) %}
    	   {{ item }} 
    	{% endfor %}
	{% endif %}
</section>
{% endif %}
